*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-weight: normal;
}
.background{
	width: 100%;
	height: 100%;
	background-image: url(../image/g.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow-y: auto;
	background-position: center;
}
.nav{
	width: 350px;
	height: auto;
	position: absolute;
	top: 20%;
	left: 0;
}
.nav a{
	text-decoration: none;
	font-size: 28px;
	font-family: verdana;
	font-weight: bold;
	display: inline-block;
	height: 90px;
	float: left;
	margin: 5px 0;
	background-color: black;
	color: white;
	line-height: 90px;
	text-align: center;
	transition: 300ms;
}
a.active, .nav a:hover{
	background-color: white;
	color: black;
	width: 100%;
}
.a{
	width: 95%;
}
.b{
	width: 85%;
}
.c{
	width: 80%;
}
.d{
	width: 90%;
}
.content{
	position: absolute;
	width: 930px;
	min-height: 500px;
	height: auto;
	right: 0;
	top: 10%;	

}
.home{
	position: absolute;
	right: 0;
	bottom:-50px;
	color: white;
	font-family: verdana;
	text-transform: uppercase;
}
.home img{
	width: 200px;
	height: 200px;
	border: 50px;
	border-bottom-color: blue;
	border-radius: 50px;

}
.home h1{
	font-size: 60px;
	border-bottom: 0 blue ;
	text-transform: uppercase;
	color: red;
}
.home h3{
	font-size: 28px;
	padding: 5px 0;
	opacity: 0.6;
	color: blue;
}
.aboutus{
	position: absolute;
	right: 0;
	top:20px;
	color: black;
	font-family: century gothic;
	text-transform: uppercase;
	padding: 0 60px;
	display: none;

}
.aboutus p{
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 30px;


}
.gallery{
	position: center;
	right: 0;
	top:20px;
	color: black;
	padding: 0 60px;
	display: none;

}

.gallery .image{
	width: 31%;
	margin: 1%;
	float: left;
}
.image img{
	width: 275px;
	height: 183px;
	transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	transform: scale(1);
	-webkit-transform: scale(1);


}
.image img:hover{
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
}
.contactus{
	position: center;
	right: 0;
	top:20px;
	color: white;
	padding: 0 60px;
	display: none;
}
.contactus h1{
	top: 100px;
	position: center;
	color: black;
}
.placeorder{
	width: 100%
	height: 135px;
	border: 20px #FF7733;
	color: #16A417;
	background-color: #C4CA64;
	font-size: 20px;
	padding: 0 10px;
	float: left;

}
.Orderbutton{
	width: 160px;
	height: 65px;
	font-family: arial;
	background-color: #14B8DA;
	color: black;
	font-size: 28px;
	border: none;
	font-weight: bold;
	float: left;
	clear: both;
	margin-top: 25px;
}